@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	display: block;
	width: 100%;
}

html {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

body {
	position: relative;
	background-color: rgb(0, 77, 77);
}

header {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	width: 100%;
	background-color: orange;
}

#title {
	font-size: clamp(.2rem, 6vw, 5rem);
	line-height: 1em;
}

#social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row nowrap;
	gap: 1ch;
}

.social-icon {
	font-size: 6vw;
}

aside {
	position: absolute;
	top: -328px;
	width: 100%;
	text-align: center;
	font-size: 3rem;
	background-color: rgb(147, 133, 133);
}

aside::before {
	position: absolute;
	background-color: red;
	content: "";
	top: 328px;
	left: 0;
	width: 100px;
	height: 100px;
}

#social-icons i:first-child {
	color: red;
}

#social-icons i:nth-child(2){
	color: blue;
}