*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	display: block;
	width: 100%;
}

html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	color: white;
}

:root {
	--bg-color: hsla(209, 100%, 8%, 1);
	--title: hsla(155, 11%, 50%, 1);
	--columbia-blue: hsla(212, 42%, 82%, 1);
	--mint-cream: hsla(138, 33%, 94%, 1);
	--desert-sand: hsla(27, 37%, 76%, 1);
	--gray: hsla(0, 0%, 50%, 1);
}

body {
	background-color: var(--bg-color);
}

header {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: 1fr 45px;
	grid-template-rows: auto;
	grid-template-areas:
		"title menu-social";
	height: fit-content;
	position: sticky;
	top: 0;
	width: 100%;
}

#title {
	grid-area: title;
	font-size: clamp(.2rem, 8vw, 5rem);
	line-height: 1em;
	color: var(--title);
	border-radius: 10px;
	text-align: center;
}

#menu-social {
	grid-area: menu-social;
	display: flex;
	height: 100%;
	min-height: 120px;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: flex-end;
	padding-bottom: .3rem;
}

#menu-social > img {
	width: 28px;
}

header hr {
	width: clamp(2ch, 65vw, 75ch);
	border: 1px solid white;
	margin: 5px auto 5px auto;
	border-radius: 2px;
}

#est-text,
#pastor-text {
	font-size: 1rem;
	text-align: center;
}

#est-pastor-div {
	text-align: center;
	margin-bottom: .5rem;
}

#est-text {
	color: var(--gray);
}

#pastor-text {
	color: var(--title)
}

main {
	height: 100%;
}

nav {
	position: absolute;
	top: -100%;
	right: -100%;
	width: 100%;
	text-align: center;
	font-size: 3rem;
	background-color: rgb(199, 125, 125);
	transition: .3s ease-in-out;
}

#nav-toggle {
	display: none;
}

#nav-toggle-label {
	position: fixed;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: top;
	border-radius: 4px;
	background-color: orange;
	color: black;
	height: 52px;
	width: 40px;
	top: 5px;
	right: 2.5px;
}

#nav-toggle-label span {
	display: block;
	width: 36px;
	font-size: .8rem;
	line-height: .5;
}

#nav-toggle:checked ~ nav {
	position: fixed;
	top: 0;
	right: 0;
	transition: .3s ease-in-out;
}